= form.fields_for field.name do |nested_form|
  %blockquote
    - if nested_form.object.new_record?
      = nested_form.link_to_remove "cancel", :class => 'label notice'
    = nested_form.generate({:action => :create, :model_config => field.associated_model_config, :nested_in => field.name })
    %hr
= form.link_to_add t("admin.index.add_new"), field.name, :class => 'label notice'
