<div id="list_orders">
	<h1>Your Orders</h1>
	
	<% current_user.piggybak_orders.each do |order| -%>
	
	<h2>Order #<%= order.id %></h2>
	Status: <%= order.status %><br />
	Created at: <%= order.created_at.strftime("%m-%d-%Y") %><br />
	<%= render "details", :order => order %>	
	
	<% end -%>
</div>
